
.nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
  }
  
  .nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    font-size: 17px;
    font-family: "receipt-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    position: relative; 
    transition: color 0.3s ease; 
  }
  
  
  .navbar a:hover {
    color: black; 
  }
  
  .nav a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #25789B;
    border-radius: 10px;
    transition: all 0.3s ease; /* Smooth grow/shrink transition */
    transform: translate(-50%, -50%);
    z-index: -1; /* Send it behind the text */
  }
  
  .nav a:hover::before {
    width: 75px;  
    height: 50px; 
  }
  
  .ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  .silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  
  body {
    margin:0;
    background-color:#0B3948;
    overflow-x: hidden;
   }

  h1 {
    font-family: "pixelify-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    margin-top: 150px;;
  }

.resume-container h1 {
  font-family: "receipt-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 3em;
  width: 600px;
  position: absolute;
  top: -75px;
  left: -8px;
}


.resume-container {
  border: 3px solid black;
  border-radius: 8px;
  background-image: url(/css/images/papertexture.jpg);
  width: 500px;
  height: 1150px;
  margin: 0 auto;
  position: relative;
  top: 75px;
  padding: 2em 4em;
  font-family: "receipt-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.text-content {
  margin-top: 150px;
}