
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: none;
    gap: 650px;
    
  }
  
  .nav-left, 
  .nav-right {
    display: flex;
    gap: 50px;
  }


  #nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    font-size: 17px;
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
  }
  
  
  #nav a:hover {
    color: #72B01D; 
  }

  #nav a.active {
    color: #72B01D;
  }

.nav-right a {
  width: 30px;
  height: 30px;
  border: 2px solid #72B01D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
}
.nav-left a {
  width: auto;
  height: 30px;
  border: 2px solid #72B01D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  text-decoration: none;

}


.email-button:hover,
.linkedin-btn:hover {
  background-color: #3F7D20;
}

.mail,
.linkedin {
  width: 28px;
  height: 28px;
}


/* Media Queries */

/* White Board Sizing */
@media (min-width: 1920px) {
  #nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: black;
    gap: 1150px;
    
  }
}

/* Split Screen Sizing */
@media (max-width: 768px) {
  #nav {
    gap: 150px;
    transform: scale(0.9); 
    transform-origin: top left;  
  }

  .nav-left {
    margin-left: -30px;
  }
  
}